<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
		
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMasterTestService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.5.134.42:8897/MasterInstructionService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMasterTestService"
                contract="MasterTestService.IMasterTestService" name="BasicHttpBinding_IMasterTestService" />
        </client>
    </system.serviceModel>
</configuration>