<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStudentAuthenticationService" />
                <binding name="BasicHttpBinding_IDirectResponseSubmission" />
            </basicHttpBinding>
            <netMsmqBinding>
                <binding name="NetMsmqBinding_IFinalResultQueueService" exactlyOnce="false">
                    <security mode="None">
                        <transport msmqSecureHashAlgorithm="Sha256" />
                    </security>
                </binding>
                <binding name="NetMsmqBinding_IIncrementalQueuingService" exactlyOnce="false">
                    <security mode="None">
                        <transport msmqSecureHashAlgorithm="Sha256" />
                    </security>
                </binding>
            </netMsmqBinding>
        </bindings>
        <client>
            <endpoint address="net.msmq://localhost/private/result_queue"
                binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_IFinalResultQueueService"
                contract="FinalResultQueuingService.IFinalResultQueueService"
                name="NetMsmqBinding_IFinalResultQueueService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.msmq://localhost/private/incrementalsavequeue"
                binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_IIncrementalQueuingService"
                contract="IncrementalQueuingService.IIncrementalQueuingService"
                name="NetMsmqBinding_IIncrementalQueuingService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://2.2.55.128:8746/DirectSubmissionService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDirectResponseSubmission"
                contract="DirectDBSubmissionService.IDirectResponseSubmission"
                name="BasicHttpBinding_IDirectResponseSubmission" />
            <endpoint address="http://2.2.55.128:8744/StudentAuthentication/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStudentAuthenticationService"
                contract="StudentAuthenticationService.IStudentAuthenticationService"
                name="BasicHttpBinding_IStudentAuthenticationService" />
        </client>
    </system.serviceModel>
</configuration>